Nodered flow.txt
[{"id":"e32a4f5e.722ec","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7c28368f.3373d8","type":"inject","z":"e32a4f5e.722ec","name":"","topic":"","payload":"Poojithakonatham","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":100,"wires":[["11f032a6.bbb44d"]]},{"id":"11f032a6.bbb44d","type":"debug","z":"e32a4f5e.722ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]},{"id":"b550f2ab.2e21","type":"ui_button","z":"e32a4f5e.722ec","name":"","group":"487d24e3.47be6c","order":8,"width":0,"height":0,"passthru":false,"label":"Open the Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"Door is opened\"}","payloadType":"json","topic":"","x":640,"y":320,"wires":[["ce359490.0a5bf8"]]},{"id":"8416622c.c71e4","type":"ui_button","z":"e32a4f5e.722ec","name":"","group":"487d24e3.47be6c","order":9,"width":0,"height":0,"passthru":false,"label":"Stay closed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"Door can't be opened\"}","payloadType":"json","topic":"","x":670,"y":360,"wires":[["ce359490.0a5bf8"]]},{"id":"d825a7d2.ee39f8","type":"ui_button","z":"e32a4f5e.722ec","name":"","group":"487d24e3.47be6c","order":10,"width":0,"height":0,"passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"The person at the door is not known\"}","payloadType":"json","topic":"","x":670,"y":400,"wires":[["ce359490.0a5bf8"]]},{"id":"9f38535b.6b05f","type":"ibmiot in","z":"e32a4f5e.722ec","authentication":"apiKey","apiKey":"f145fd9d.98f1f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"17481","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":220,"wires":[["19d1ca56.f02d06","dd40f98e.ad5398"]]},{"id":"ce359490.0a5bf8","type":"ibmiot out","z":"e32a4f5e.722ec","authentication":"apiKey","apiKey":"f145fd9d.98f1f","outputType":"evt","deviceId":"17481","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":500,"wires":[]},{"id":"19d1ca56.f02d06","type":"function","z":"e32a4f5e.722ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["11f032a6.bbb44d"]]},{"id":"dd40f98e.ad5398","type":"function","z":"e32a4f5e.722ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["11f032a6.bbb44d"]]},{"id":"8bc1f79.d771208","type":"http response","z":"e32a4f5e.722ec","name":"","statusCode":"","headers":{},"x":470,"y":540,"wires":[]},{"id":"73dcc690.64c138","type":"http response","z":"e32a4f5e.722ec","name":"","statusCode":"","headers":{},"x":470,"y":580,"wires":[]},{"id":"8f2598c9.0e0a88","type":"http response","z":"e32a4f5e.722ec","name":"","statusCode":"","headers":{},"x":510,"y":620,"wires":[]},{"id":"93152509.7af6a8","type":"function","z":"e32a4f5e.722ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["8bc1f79.d771208","ce359490.0a5bf8"]]},{"id":"1a819ccc.0ce583","type":"function","z":"e32a4f5e.722ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["73dcc690.64c138","ce359490.0a5bf8"]]},{"id":"1bcb0fdb.7ff05","type":"function","z":"e32a4f5e.722ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["8f2598c9.0e0a88","ce359490.0a5bf8"]]},{"id":"acff0d80.658a9","type":"http in","z":"e32a4f5e.722ec","name":"","url":"/command1","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["93152509.7af6a8"]]},{"id":"4ecf3f2a.cb8fd","type":"http in","z":"e32a4f5e.722ec","name":"","url":"/command2","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["1a819ccc.0ce583"]]},{"id":"5d2b677e.d91e48","type":"http in","z":"e32a4f5e.722ec","name":"","url":"/command3","method":"get","upload":false,"swaggerDoc":"","x":100,"y":620,"wires":[["1bcb0fdb.7ff05"]]},{"id":"fd785249.799c2","type":"ui_button","z":"e32a4f5e.722ec","name":"","group":"487d24e3.47be6c","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":860,"wires":[["e4a9816e.a4a3f"]]},{"id":"e4a9816e.a4a3f","type":"http request","z":"e32a4f5e.722ec","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://c9cb5634-9dec-49cc-aaf0-d1cd80302c3e-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":860,"wires":[["735dbed5.a5648"]]},{"id":"735dbed5.a5648","type":"function","z":"e32a4f5e.722ec","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["ee8cdd50.261a3","35db1345.28f31c","42f02a77.956144"]]},{"id":"35db1345.28f31c","type":"ui_template","z":"e32a4f5e.722ec","group":"487d24e3.47be6c","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":900,"wires":[[]]},{"id":"ee8cdd50.261a3","type":"debug","z":"e32a4f5e.722ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":840,"wires":[]},{"id":"855955a7.e1c548","type":"http in","z":"e32a4f5e.722ec","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":780,"wires":[["e4a9816e.a4a3f"]]},{"id":"42f02a77.956144","type":"http response","z":"e32a4f5e.722ec","name":"","statusCode":"","headers":{},"x":610,"y":780,"wires":[]},{"id":"487d24e3.47be6c","type":"ui_group","z":"","name":"SmartSecurity","tab":"489d10a6.dfac4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f145fd9d.98f1f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"489d10a6.dfac4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
